@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --font-display :  "Dancing Script", cursive;
}

*{
    font-family: var(--font-display);

}

.bi-search{

    position: absolute;
    right: 70px;
    top: 2px;
   
}

.bi {
    color: gray;
    cursor: pointer;
}

.bi-search:hover , .bi:hover {
    color:black
}