@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --font-display :  "Dancing Script", cursive;
}

*{
    font-family: var(--font-display);

}

.menuContainer{
    background-color: red;
    display: flex;
    gap:3px;
    align-items: center;
    height: 60px;
    /* border-bottom: 2px solid black; */
}

.menu {
    background-color: blue;
    height: 60px;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid white; */
}

.menu:hover {
    /* border-bottom: 2px solid black; */

}

.titleMenu{
    display: flex;
}

.listContainer{
    position: fixed;
    top:100px;
    background-color: green;
    width: 100%;
    left: 0;
    height: 500px;
}

@media screen and (max-width : 768px) {
    .menuContainer{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        gap:0
    }
    .menu{
        width: 100%;
        
    }
    .titleMenu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu:hover  .listContainer {
        height: auto !important;
    }
    .listContainer{
        /* position: fixed; */
        position: static;
        z-index: 3000!important;
        height: 0;
        overflow: hidden;
    }
}